


.score__content{
    padding: 30px 25px;
}

.score__circle-bg{
    height: 25px;
    width: 25px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    display: inline-block;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.score__circle-bg:hover{
    background: hsl(25, 97%, 53%);
    color: #fff;
}

.score__circle-bg i{
    color: hsl(25, 97%, 53%);
}

.active{
    background: hsl(217, 12%, 63%);
    color: #fff;    
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.score__desc h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.score__desc p{
    font-size: 12px;
    line-height: 20px;
    color: hsl(217, 12%, 63%);
    padding: 0;
    margin-top: 0px;
}

.score__icon ul{
    width: 100%;
    padding: 0;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: hsl(217, 12%, 63%);
}

.score__btn{
    width: 100%;
    height: 35px;
    border-radius: 25px;
    border: none;
    background: hsl(25, 97%, 53%);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.score__btn:hover{
    background: #fff;
    color: hsl(25, 97%, 53%);
}